
#background{
    background-color: #808622;
}

#appTitleBar{
    background-color: #413020;
    color: #e3e3e1;
    padding: 3rem 2rem 3rem 2rem;
    position: fixed;
    top: 5%;
    width: 100%;
    z-index: 3;
}

h1{
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}


#container{
    margin: 0rem 2.8rem;
    position: fixed;
    top: 25%;
}

::placeholder {
    color: #808622;
    vertical-align: top;
}

.entryTitle{
    padding-bottom: 1rem;
    width: 100%;
}

  .entryTitle input {
    width: 100%;
  }

  .location{
    padding-bottom: 1rem;
}

.location input {
    width: 100%;
  }

.thirdRow{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.accordion {
    background-color: #e3e3e1;
    border: 3px solid #413020;
    color: #413020;
    font: 1.65rem sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    padding: .75rem;
    vertical-align: middle;
}

input {
    background-color: #e3e3e1;
    border: 3px solid #413020;
    font: 1.65rem sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    padding: .75rem;
    width: 97%;
}

select {
    border: none;
    color: #808622;
    font: 1.65rem 'Josefin Sans', sans-serif;
}

select option {
    font-size: .5rem;
}

.seasonsDropdown {
    background-color: #e3e3e1;
    border: .125rem solid #413020;
    width: 97%;
}

#habitatButton{
    text-align: start;
    vertical-align: top;
    background-color: #e3e3e1;
    border: 3px solid #413020;
    font-size: 1.65rem;
    color: #808622;
    padding: 1rem .5rem 1rem .5rem;

}

.habitatItem {
    padding: 1rem;
}

.shownItem {
    font-size: 1.65rem;
    color:#413020;
}

.finalItem {
    color:#808622;
}

.notes{
    height: 22rem;
    margin: 1rem 0rem;
    outline: none;
    overflow: hidden;
    width: 100%;
}

.buttonContent{
    background-color: #413020;
    color: #e3e3e1;
    font-size: 1.75rem;
    font-weight: 700;
    padding: 2.25rem 2rem 2rem 2rem;
    text-transform: uppercase;
}

#footer{
    color: #413020;
    font-size: 3em;
    margin-top: 1rem;
    text-align: right;
}
