
#background{
    background-color: #808622;
}

#appTitleBar{
    background-color: #413020;
    color: #e3e3e1;
    padding: 3rem 2rem 3rem 2rem;
    position: fixed;
    top: 5%;
    width: 100%;
    z-index: 3;
}

h1{
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}


#entryForm{
    position: fixed;
    top: 25%;
    width: 85%;
    margin: 0rem 2.8rem;
}

.entryTitle{
    padding-bottom: 1rem;
    width: 100%;
}

  .entryTitle input {
    width: 100%;
  }

  .location{
    padding-bottom: 1rem;
}

.location input {
    width: 100%;
  }

.thirdRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.accordion {
    background-color: #e3e3e1;
    border: 3px solid #413020;
    color: #413020;
    font: 1.65rem sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    padding: .75rem;
    vertical-align: middle;
}

select {
    border: none;
}

select option:disabled {
    background-color: #e3e3e1;
    color: #413020;
    /*font-weight: 900;*/
    /*padding: .5rem 0rem .5rem 0rem;*/
}

select option {
    line-height: 10rem;
}

.dropDownHeader {
    font-size: 1.7rem;
    color: #413020;
}

.dropDownMenu {
    background-color: #e3e3e1;
    border: .125rem solid #413020;

}



#button{
    bottom: 10%;
    margin: 1rem 3.3rem;
    position: fixed;
}

.buttonContent{
    background-color: #413020;
    color: #e3e3e1;
    cursor: pointer;
    font-size: 1.75rem;
    font-weight: 700;
    padding: 2.25rem 2rem 2rem 2rem;
    text-transform: uppercase;
}

#footer{
    bottom: 2%;
    color: #413020;
    font-size: 3em;
    padding: 0rem 0rem 0rem 32rem;
    position: fixed;
    text-align: right;
}
