@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


a {
    color: azure;
}


html{
    color:#413020;
    font: 1.65rem sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    cursor: url(../images/morel.png), auto;
}

a{
    cursor: url(../images/morel.png), auto;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame div {
    width: 95vw;
    height: 95vh;
    border: .25rem solid #413020;
    margin: 1.75rem 0rem;
}

