@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    color:#413020;
    font: 1.65rem sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

input {
    background-color: #e3e3e1;
    border: 3px solid #413020;
    color: #413020;
    font: 1.65rem sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    padding: .75rem;
    vertical-align: middle;
  }

.frame{
    border: .125rem solid #413020;
    height: 97%;
    margin: 1rem;
    position: fixed;
    /*width: 94%;*/
    z-index: 2;
}
