<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/addEntryView.css">
    <script src="https://kit.fontawesome.com/bc4c41a967.js" crossorigin="anonymous"></script>


    <title>My Nature Journal Entries</title>
</head>

<body id="background">

<h1 id="testing"></h1>

<div class="frame"></div>

<section id="appTitleBar">
    <h1><span style="font-weight: 700;">My</span> Nature Journal</h1>
</section>

<section id="entryForm">

    <div class="entryTitle">
        <input placeholder="Title of Journal Entry" type="text" id="entryTitle" name="entryTitle" required/>
    </div>

    <div class="location">
        <input placeholder="Location" type="text" id="location" name="location"/>
    </div>

    <div class="thirdRow">
        <input type="date" value="2010-01-01" id="date" name="date" required/>


        <select class="dropDownMenu dropDownHeader">
            <option value="" disabled selected hidden>Season</option>
            <option value="">Winter</option>
            <option value="">Spring</option>
            <option value="">Summer</option>
            <option value="">Fall</option>
        </select>

        <select class="dropDownMenu dropDownHeader">
            <option value="" disabled selected hidden>Habitat</option>
            <option value="">Wetlands</option>
            <option value="">Forest</option>
            <option value="">other habitat</option>
            <option value="">maybe one more</option>
        </select>


    </div>


    <!--            <button class="accordion">-->
    <!--            <div class="habitatOptions">-->
    <!--                <option selected="selected" disabled="disabled">Habitat</option>-->
    <!--                <input type="checkbox" id="Wetlands" name="wetlandsHabitat">-->
    <!--                <label for="Wetlands">Wetlands</label><br>-->

    <!--                <input type="checkbox" id="Forest" name="wetlandsHabitat">-->
    <!--                <label for="Wetlands">Forest</label><br>-->
    <!--                </div>-->
    <!--            </button>-->


</section>

<section id="button">
    <div class="buttonContent">
        Add A New Journal Entry
    </div>
</section>

<section id="footer">

    <i class="fas fa-cog"></i>
</section>

<script src="/js/addEntry.js"></script>

</body>

</html>
