<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="addEntryView.css">
    <script src="https://kit.fontawesome.com/bc4c41a967.js" crossorigin="anonymous"></script>


    <title>My Nature Journal Entries</title>
</head>

<body id="background">

    <div class="frame"></div>

    <section id="appTitleBar">
        <h1><span style="font-weight: 700;">My</span> Nature Journal</h1>
    </section>

    <section id="entryForm">

        <div class="entryTitle">
            <input placeholder="Title of Journal Entry" type="text" id="entryTitle" name="entryTitle" required />
        </div>

        <div class="location">
            <input placeholder="Location" type="text" id="location" name="location" />
        </div>

        <div class="thirdRow">
            <input placeholder="Date" type="date" value="2010-01-01" id="date" name="date" required />

            <select name="seasonSelect" class="dropDown" id="seasonDropdown" for="seasonOptions">
                <div class="seasonOptions">
                    <div class="seasonOptionsHeader">

                     <option selected="selected" disabled="disabled">Season</option>
                    </div>
                    <option value="Winter">Winter</option>
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Fall">Fall</option>
                </div>
            </select>

            <div name="habitatSelect" class="dropDown" id="habitatDropdown" for="habitatOptions">
                <div class="habitatOptions">

            <div class="habitatOptions">
                <option selected="selected" disabled="disabled">Habitat</option>
                <input type="checkbox" id="Wetlands" name="wetlandsHabitat">
                <label for="Wetlands">Wetlands</label><br>

                <input type="checkbox" id="Forest" name="wetlandsHabitat">
                <label for="Wetlands">Forest</label><br>
            </div>

                </div>
            </div>
        </div>

    </section>

    <section id="button">
        <div class="buttonContent">
            Add A New Journal Entry
        </div>
    </section>

    <section id="footer">

        <i class="fas fa-cog"></i>
    </section>

</body>

</html>