<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="allEntriesView.css">


    <title>My Nature Journal Entries</title>
</head>
<body id="background">

<div class="frame"></div>

<section id="appTitleBar">
    <h1><span style="font-weight: 700;">My</span> Nature Journal</h1>
</section>

<section id="entryFilters">
    <ul class="filtersList">
        <li class="singleFilter"><a href="#">Season</a></li>
        <li class="singleFilter"><a href="#">Habitat</a></li>
    </ul>
</section>

<section id="entriesList">
    <div class="singleEntry">
        <h2>Title of Entry</h2>
        <div class="date">00/00/0000</div>
    </div>

</section>

<section id="button">
    <div class="buttonContent">
     Add A New Journal Entry
    </div>
</section>

</body>
</html>