<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="allLocationsView.css">


    <title>My Locations</title>
</head>
<body>

<div id="background"></div>

<div class="frame"></div>

<section id="appTitleBar">
    <h1>Nature Journal</h1>
    <div class="subTitle">Record all your outdoor adventures in one place.</div>
</section>

<section id="button">
    <div class="buttonContent">
        <span style="font-weight: 700;">My</span> Nature Journal
    </div>
</section>

</body>
</html>