<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="home.css">
    <title>Nature Journal</title>
</head>

<body>


<div id="bgImage"></div>

<!--<div class="container">-->
<div class="frame">

<section id="appTitleBar">
    <h1>Nature Journal</h1>
    <div class="subTitle">Record all your outdoor adventures in one place.</div>
</section>

    <section id="button">
        <div class="buttonContent">
        <span style="font-weight: 700;">My</span> Nature Journal
        </div>
    </section>

</div>

<!--</div>-->

</body>
</html>
